<h2>Tu mamá en el árbol</h2>
<p>Una cinta en tus cabellos
Una flor en tu ventana
Un canario en tu balcón
Canta al sol de la mañana
Una calle me separa
Del amor que esta en mis sueños
De tu amor no exijo nada
Solo quiero ser tu dueño
Y mi amor que en busca de ella va
No importa ni el dolor
Que ayer mi hizo llorar
Yo sé que al ventanal
Mañana asomará su cara angelical
Y mi amor que en busca de ella va
No importa ni el dolor
Que ayer mi hizo llorar
Yo sé que al ventanal
Mañana asomará su cara angelical
Una calle me separa
Del amor que está en mis sueños
De tu amor no exijo nada
Solo quiero ser tu dueño</p>
